*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: url(5.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.header .logo h2{
    color: #fff;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 0 0 10px #70f,
    0 0 20px #70f;
    margin-left: 30px;
}
.header .navbar{
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-right: 30px;
}
.header .navbar li{
    list-style: none;
    transition: 0.5s ease;
}
.header .navbar li:hover{
    scale: 1.2;
}
.header .navbar a{
    color: #f0f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 12px;
    border: 2px solid #f0f;
    border-radius: 15px;
    box-shadow: 0 05px #f0f;
    transition: 0.5s ease;
}
.header .navbar a:hover{
    color: #fff;
    background: #f0f;
}
.login-form{
    background: rgba(255,255,255,0.02);
    padding: 20px;
    color: #fff;
    width: 350px;
    margin-top: 15vh;
    margin-left: 80px;
    border-radius: 5px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.2),
    0 6px 20px rgba(0,0,0,0.2);
}
.top p{
    font-size: 29px;
    text-align: center;
    letter-spacing: 2px;
}
.top p span{
    color: #f0f;
    text-shadow: 0 0 10px #70f,
    0 0 20px #70f;
}
.middle input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: #fff;
    border-radius: 5px;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember input{
    margin-left: -90px;
}
.bottom .remember a,.bottom a{
    color: #f0f;
    text-decoration: none;
    font-weight: bold;
}
button{
    background: linear-gradient(45deg,#f0f,
    #70f);
    color: #fff;
    padding: 12px 20px;
    width: 100%;
    border: none;
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    filter: brightness(2);
}
.bottom p{
    text-align: center;
}
.other{
    display: flex;
    justify-content: space-between;
}
.other button{
    width: 150px;
    background: linear-gradient(135deg,#70f,
    #0ff);
}
.bottom h4{
    text-align: center;
}

